.loading-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.index {
  width: 100%;
  height: 100%;
}

.index .grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  row-gap: 4em;
  padding: 1em;
  margin-top: 20em;
  z-index: 0;
  will-change: transform;
}

.index .grid-item-name {
  text-transform: uppercase;
  margin-bottom: 0.35em;
}

.index .grid-item-name p {
  font-size: 9px;
}

.index .grid-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.index .whitespace {
  width: 100%;
  height: 300px;
}

.preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 2;
}

.preview .preview-img {
  height: 60%;
  aspect-ratio: 1/1;
  background-color: rgb(178, 178, 178);
}

.preview .preview-name {
  position: absolute;
  bottom: 1em;
  left: 1em;
  font-family: "Akkurat Mono";
}

@media (min-width: 768px) and (max-width: 1023px) {
  .index .grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1024px) {
  .index .grid-container {
    grid-template-columns: repeat(12, 1fr);
  }
}
